.navbar-nav{
  flex-direction:row !important;
}

#link1,#link2,#link3,#link4,#link5,#link6{
    color: bisque;
}

#navbar,#navbarBottom{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-link:hover,.nav-link:active,.nav-link:visited,.nav-link:focus{
    font-weight: bolder;
}

@media(max-width:900px) {
  .navbar-nav{
    font-size: 1.5vw;
  }
}
