<div id="aboutContainer" class="container-fluid bg-dark">

    <div class="container-fluid text-center my-1" style="color: bisque;">
        <h1>About Me</h1>
        <p>---X---X---</p>
    </div>
    <div class="container-fluid bg-light" style="height: 0.1vw;"></div>
    <div id="aboutSection" class="container">

        <div id="intro">
            <img src="../../../assets/images/self/own.jpg" class="my-image img-rounded row-1">
            <p class="aboutTextQuestion row-2 my-3">{{aboutTextQuestion}}</p>
            <p class="aboutTextAnswer row-3 my-3">{{aboutTextAnswer}}</p>
            <p class="resumeLink"><a href="{{resumeLink}}" target="_blank" class="row-2 my-3">Download Resume</a></p>
        </div>



        <!-- TECHNICAL SKILLS -->




        <div id="skills">
            <p id="skillsHeading">Technical Skills </p>
            <br> <br>
            <div id="skills-1">
            <br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="95"
                    aria-valuemin="0" aria-valuemax="100">Java</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">Spring MicroServices</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="95"
                    aria-valuemin="0" aria-valuemax="100">Apache Kafka</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100">Apache Camel</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100">Amazon Web Services(AWS)</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">Apache Nifi</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">Python(Basics)</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">Spring Boot</div>
            </div>
          </div>
          <div id="skills-2">
            <br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">MySQL</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">Angular</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">HTML/CSS/JS</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">Jenkins</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">Splunk</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">SignalFx</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">PagerDuty</div>
            </div>
            <br><br>
            <div class="progress">
                <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100">Git(Version Control)</div>
            </div>
          </div>
        </div>

    </div>
</div>
