<div id="aboutContainer" class="container-fluid bg-dark">

    <div class="container-fluid text-center my-1" style="color: bisque;">
        <h1>About Me</h1>
        <p>---X---X---</p>
    </div>

    <div class="container-fluid bg-light" style="height: 0.1vw;"></div>

    <div id="aboutSection" class="container">

        <div id="intro">
            <img [src]="profileImageUrl" class="my-image img-rounded row-1">

            <p class="aboutTextQuestion row-2 my-3">
                {{aboutTextQuestion}}
            </p>

            <p class="aboutTextAnswer row-3 my-3">
                {{aboutTextAnswer}}
            </p>

            <p class="resumeLink">
                <a [href]="resumeLink" target="_blank">
                    Download Resume
                </a>
            </p>
        </div>

        <div id="skillsWrapper">

            <p id="skillsHeading">Technical Skills</p>

            <br><br>

            <div id="skills">

                <ng-container *ngFor="let skill of skills">

                    <div class="progress skill-progress">
                        <div
                            class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                            role="progressbar"
                            [style.width.%]="skill.percentage"
                            [attr.aria-valuenow]="skill.percentage"
                            aria-valuemin="0"
                            aria-valuemax="100">

                            <span class="skill-label">

        {{ skill.name }}

    </span>

                        </div>
                    </div>

                </ng-container>

            </div>

        </div>

    </div>

</div>