#educationContainer{
  min-height: fit-content;
}

.educationCol{
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.educationCard{
  width: 95%;
  margin: auto;
}

.educationCard,
.educationCard a{
  font-size: clamp(14px, 1vw, 18px);
}

.card-title{
  font-size: clamp(18px, 1.5vw, 28px);
  font-weight: bolder;
  font-family: cursive;
}

.list-group-item{
  text-align-last: justify;
  padding: 0%;
}

.card-img-top{
  height: 220px;
  object-fit: cover;
}

@media (max-width: 768px){

  .card-img-top{
    height: 250px;
  }

  .educationCard{
    max-width: 100%;
  }

}