<div id="educationContainer" class="my-1 bg-dark">

  <div id="cardsContainer" class="row">

    <div class="container-fluid text-center my-1" style="color: bisque;">
      <h1>Education</h1>
      <p>---X---X---</p>
    </div>

    <div class="container-fluid bg-light" style="height: 2px;"></div>

    <div
  class="col-lg-4 col-md-6 col-12"
  *ngFor="let education of educationList">

      <div class="educationCol">

        <div class="card educationCard">

          <img
            [src]="education.imageUrl"
            class="card-img-top img-thumbnail img-rounded">

          <div class="card-body">

            <p class="card-title text-center">
              {{ education.title }}
            </p>

            <div
              class="container-fluid text-center my-1 bg-dark"
              style="color: bisque;">

              <p>---X---X---</p>

            </div>

            <p class="card-title text-center">
              {{ education.institution }}
            </p>

            <ul class="list-group list-group-flush">

              <li class="list-group-item container-fluid">
                <p>
                  Percentage : {{ education.score }}
                </p>
              </li>

              <li
                *ngIf="education.year"
                class="list-group-item container-fluid">

                <p>
                  Year : {{ education.year }}
                </p>

              </li>

              <li
                *ngIf="education.course"
                class="list-group-item container-fluid">

                <p>
                  Course : {{ education.course }}
                </p>

              </li>

              <li class="list-group-item container-fluid">

                <p>
                  {{ education.details }}
                </p>

              </li>

            </ul>

            <p id="institutionLink">

              <a
                [href]="education.website"
                target="_blank"
                class="btn btn-outline-primary container-fluid">

                Click to Know more about this Institution.

              </a>

            </p>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>